<nav [ngClass]="{'navbar': true, 'navbar-expand-md': true, 'bg-light': true, 'sticky-navbar': isNavbarSticky}">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">SC: Doc Verifier</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/verify-document">Verify</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/add-organization">University</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/add-admin">Admin</a>
        </li>
      </ul>
      <ng-container *ngIf="isConnected">
        <span class="d-flex" role="search">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ selectedNetwork || 'Select Network' }}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="onNetworkSelect('polygon')">Polygon</a></li>
                <li><a class="dropdown-item" (click)="onNetworkSelect('mumbai')">Mumbai</a></li>
              </ul>
            </li>
          </ul>
          <button style="margin: 5px;" class="btn btn-outline-success">
            <span>Wallet Connected</span>
          </button>
        </span>
      </ng-container>
      <ng-container *ngIf="!isConnected">
        <span class="d-flex" role="search">
          <button style="margin: 5px;" (click)="onConnectMetamask()" class="btn btn-outline-danger">
            <span>Connect Wallet</span>
          </button>
        </span>
      </ng-container>

    </div>
  </div>
</nav>
